<!-- cart-ajax (snippet) -->
<section class="cart-ajax" style="display: none;">
    <div class="content-loader">
        <div class="ring-loader"><div></div><div></div><div></div><div></div></div>
    </div>
</section>
<!-- cart-ajax (snippet) // -->
