<div class="pagination">
  {% if paginate.pages > 1 %}
    {% if paginate.previous.is_link %}
      <a href="{{ paginate.previous.url }}" class="hover-opacity"><i class="fas fa-backward"></i></a>
    {% endif %}

    {% if paginate.next.is_link %}
      <a href="{{ paginate.next.url }}" class="hover-opacity"><i class="fas fa-forward"></i></a>
    {% endif %}
  {% endif %}
</div>