<section class="cart">
  <form action="/cart" method="post" class="cart-form">
    <div class="cart-header">
      <h4 class="heading">Your Cart <span style="margin-left: 10px;">(<span class="item_count">{{ cart.item_count }}</span>)</span></h4>
      <button type="button" class="btn" data-toggle-cart>
        <i class="fas fa-window-close"></i>
      </button>
    </div>
    <div class="content-loader"></div>
  </form>
</section>