<section class="customer_page">
    {% if customer %}
        <a class="link" href="/account" style="display: flex; justify-content: center;">Your account</a>
        <script>
            window.location = "/account";
        </script>
    {% else %}
        <div class="grid-container" style="padding: 0;">
            <h1 class="title">Activate account</h1>

            {% form 'activate_customer_password', class: "grid-x" %}
                {{ form.errors | default_errors }}

                <input class="cell" type="password" placeholder="Password" value="" name="customer[password]" id="password" size="30" required/>
                <input class="cell" type="password" placeholder="Confirm password" value="" name="customer[password_confirmation]" id="password_confirmation" size="30" required/>
        
                <button class="btn btn-primary" type="submit">Activate</button>
            {% endform %}
        </div>
    {% endif %}
</section>