<section class="customer">
    {% unless customer %}
        <div class="grid-container">
            {% form 'customer_login', class: "form-login" %}
                <h1 class="form-title">Login</h1>

                <input class="cell" type="email" placeholder="your-email@example.example" value="" name="customer[email]" id="email" minlength="4" size="30" required/>
                <input class="cell" type="password" placeholder="your-password" value="" name="customer[password]" id="login_password" minlength="4" size="30" required/>
            
                {{ form.errors | default_errors }}

                <button class="btn primary" type="submit">Login</button>

                <div class="grid-x align-justify">
                    <span class="info-text">
                        Don't have account yet? <a class="info-link" href="/account/register">REGISTER</a>
                    </span>
                    <button type="button" class="btn btn-switch-forgot" data-switch-form=".form-recover">Forgot password?</button>
                </div>
            {% endform %}

            {% form 'recover_customer_password', id: "recover_customer_password", class: "form-recover", style: "display: none;" %}
                <h1 class="form-title">Recover Password</h1>

                <input class="cell" type="email" placeholder="your-email@example.example" value="" name="email" id="password_recover" minlength="4" size="30" required/>
            
                {{ form.errors | default_errors }}

                <button class="btn primary" type="submit">Submit</button>

                <div class="grid-x align-justify">
                    <span class="info-text">
                        Don't have account yet? <a class="info-link" href="/account/register">REGISTER</a>
                    </span>
                    <button type="button" class="btn btn-switch-forgot" data-switch-form=".form-login">Login</button>
                </div>
            {% endform %}
        </div>
    {% else %}
        <script>
            if (!Shopify.desginMode) {
                window.location = "/account";
            }
        </script>
    {% endunless %}
</section>

<script type="text/javascript">
$(function () {
    if (window.location.href.includes("#recover_customer_password")) {
        $(".form-login").hide(function() {
            $(".form-recover").show(function() {
                console.log("Form recover password opened.")
            })
        })
    }
    $("[data-switch-form]").click(function(e) {
        e.preventDefault()
        const $this = $(this)
        const $$currentForm = $($this.parents("form"))
        $$currentForm.fadeOut(function() {
            const $$showForm = $($this.data("switch-form"))
            $$showForm.fadeIn(function() {
                console.log("Form changed.")
            })
        })
    })
})
</script>