<div class="customer_page">
    {% if customer %}
        <a class="link" href="/account" style="display: flex; justify-content: center;">Your account</a>
        <script>
            window.location = "/account";
        </script>
    {% else %}
        <div class="grid-container">
            {% form 'customer_login', class: "form-customer-login", style: "display: block" %}
                {{ form.errors | default_errors }}

                <div class="grid-x align-justify align-middle" style="margin-bottom: 1.25rem;">
                    <h2 class="title" style="margin: 0;">Login</h2>
                    <button class="btn btn-inherit switch" type="button">Forgot password</button>
                </div>

                <div class="grid-x">
                    <input class="cell" type="email" placeholder="Email Address" value="" name="customer[email]" id="email" size="30" required/>
                    <input class="cell" type="password" placeholder="Password" value="" name="customer[password]" id="login_password" size="30" required/>
                </div>

                <div class="grid-x">
                    <div class="cell auto">
                        <span class="text">
                            Don't have account yet? <a class="link" href="/account/register">REGISTER</a>
                        </span>
                    </div>
                    <div class="cell small-5 medium-4">
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                </div>  
            {% endform %}

            {% form 'recover_customer_password', class: "form-customer-recover", style: "display: none;" %}
                {{ form.errors | default_errors }}

                <h2 class="title">Recover password</h2>

                <div class="grid-x align-justify">
                    <input class="cell" type="email" placeholder="Email" value="" name="email" id="password_recover" size="30" required/>
                    <div class="cell medium-4">
                        <button class="btn btn-primary" type="submit">submit</button>
                    </div>
                    <div class="cell medium-4">
                        <button class="btn btn-primary switch" type="button">cancel</button>
                    </div>
                </div> 
            {% endform %}
        </div>    
    {% endif %}
</div>

<script type="text/javascript">
$(function () {
    $(".switch").click(function(e) {
        e.preventDefault();
        let isActive =  $(".form-customer-recover").hasClass("switch-active")
        
        if(isActive) {
            $(".form-customer-login").css("display", "block")
            $(".form-customer-recover").css("display", "none")
            $(".form-customer-recover").removeClass("switch-active")
        }
        else {
            $(".form-customer-login").css("display", "none")
            $(".form-customer-recover").css("display", "block")
            $(".form-customer-recover").addClass("switch-active")
        }
    })
})
</script>