<section class="customer_page">
    {% if customer %}
        <a class="link" href="/account" style="display: flex; justify-content: center;">Your account</a>
        <script>
            window.location = "/account";
        </script>
    {% else %}
        <script>
            window.location = "/account/login";
        </script>
    {% endif %}
</section>