<section class="customer">
    {% unless customer %}
        <div class="grid-container">
            {% form 'create_customer', class: "form-register" %}

                <h1 class="form-title">Register</h1>

                <input class="cell" type="text" placeholder="John" value="" name="customer[first_name]" id="first_name" minlength="1" size="30" required/>
                <input class="cell" type="text" placeholder="Doe" value="" name="customer[last_name]" id="last_name" minlength="1" size="30" required/>
                <input class="cell" type="email" placeholder="your-email@example.example" value="" name="customer[email]" id="email" minlength="4" size="30" required/>
                <input class="cell" type="password" placeholder="your-password" value="" name="customer[password]" id="password" minlength="4" size="30" required/>
            
                {{ form.errors | default_errors }}

                <button class="btn primary" type="submit">Register</button>

                <span class="info-text">
                    Already have an account? <a class="info-link" href="/account/login">LOGIN</a>
                </span>
            {% endform %}
        </div>
    {% else %}
        <script>
            if (!Shopify.desginMode) {
                window.location = "/account";
            }
        </script>
    {% endunless %}
</section>