<section class="customer_page">
    {% if customer %}
        <a class="link" href="/account" style="display: flex; justify-content: center;">Your account</a>
        <script>
            window.location = "/account";
        </script>
    {% else %}
        <div class="grid-container">
            <h1 class="title">Reset password</h1>

            {% form 'reset_customer_password', class: "grid-x" %}
                {{ form.errors | default_errors }}

                <input class="cell" type="password" placeholder="New password" value="" name="customer[password]" id="password" size="30" required/>
                <input class="cell" type="password" placeholder="Confirm new password" value="" name="customer[password_confirmation]" id="password_confirmation" size="30" required/>
        
                <button class="btn btn-primary" type="submit">Reset</button>
            {% endform %}
        </div>
    {% endif %}
</section>