<h1 class="heading">
    {{ section.settings.heading }}
</h1>

{% schema %}
{
    "name": "404 section",
    "tag": "section",
    "class": "error grid-container",
    "settings": [
        {
            "type": "textarea",
            "id": "heading",
            "label": "Heading",
            "default": "Page Not found!"
        }
    ],
    "presets": [
        {
            "category": "Sections",
            "name": "404"
        }
    ]
}
{% endschema %}

{%- comment -%}

{% layout '404' %}



<p class="text">
    {{ section.settings.textarea }}
</p>
<a href="/" class="btn primary">{{ section.settings.btn }}</a>

{% schema %}
{
    "name": "404",
    "tag": "section",
    "class": "error grid-container",
    "settings": [
        {
            "type": "textarea",
            "id": "heading",
            "label": "Heading",
            "default": "Page Not found!"
        },
        {
            "type": "textarea",
            "id": "textarea",
            "label": "Text",
            "default": "The page you were looking for does not exist."
        },
        {
            "type": "text",
            "id": "btn",
            "label": "Button",
            "default": "Back to home page"
        }
    ]
}
{% endschema %}
{%- endcomment -%}
