<!-- 404 -->
<section class="error-page">
    <h1>{{ section.settings.title }}</h1>
    <p>{{ section.settings.desc }}</p>
    <div class="grid-x align-center margin-bottom-1">
        <div class="cell small-2">
            <a href="{{ shop.url }}" class="btn btn-secondary">{{ section.settings.btn }}</a>
        </div>
    </div>
    <div class="grid-x align-center">
        <div class="cell small-2">
            <a href="#" onClick="history.back(); return false;" class="btn btn-inherit">Previous page</a>
        </div>
    </div>
</section>
<!-- 404 // -->
{% schema %}
{
    "name": "404",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "404"
        },
        {
            "type": "text",
            "id": "desc",
            "label": "Description",
            "default": "The page you were looking for does not exist."
        },
        {
            "type": "text",
            "id": "btn",
            "label": "Button text",
            "default": "Back to home page"
        }
    ]
}
{% endschema %}