<div class="header">
    <div class="grid-container">
        <div class="grid-x align-justify align-middle">
            <nav class="grid-x align-middle">
                {% for link in linklists[section.settings.header_nav].links %}
                    <a href="{{ link.url }}">{{ link.title }}</a>
                {% endfor %}
            </nav>
            <div class="grid-x align-middle" style="position: relative;">
                <a href="/search" style="color: purple;">Search</a>
                {% if customer %}
                    <a style="color: green;" href="/account">Account</a>
                {% else %}
                    <a style="color: red;" href="/account/login">Account</a>
                {% endif %}
                <a href="/cart" class="cart-button" style="color: yellow;">Cart</a>
                {% render "cart-ajax" %}
            </div>
        </div>
    </div>
</div>
{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "link_list",
            "id": "header_nav",
            "label": "Header navigation",
            "default": "main-menu"
        }
    ]
}
{% endschema %}