<div class="grid-container">
  hero
</div>

{% schema %}
{
  "name": "Hero",
  "tag": "section",
  "class": "hero",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "category": "Home Page",
      "name":"Hero"
    }
  ]
}
{% endschema %}