<!-- list-collections -->
<section class="collections">
    <div class="grid-container">
      <h2 class="main-title">{{ section.settings.title }}</h2>
      <div class="grid-x">
          {% paginate collections by section.settings.range %}
            {% for collection in collections %}
                {% render "collection-item", collection: collection, classes: "cell medium-6 large-3" %}
            {% endfor %}
            {% if paginate.pages > 1 %}
                <div class="cell pagination">
                    {{ paginate | default_pagination }}
                </div>
            {% endif %}
          {% endpaginate %}
      </div>
    </div>
</section>
<!-- list-collections //-->
{% schema %}
{
    "name": {
        "en": "Collections",
        "ru": "Коллекции"
    },
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": {
                "en": "Collections",
                "ru": "Коллекции"
            },
            "default": "Коллекции"
        },
        {
            "type": "range",
            "id": "range",
            "label": {
                "en": "Collections per page",
                "ru": "Коллекций на странице"
            },
            "min": 1,
            "max": 16,
            "step": 1,
            "default": 4
        }
    ]
}
{% endschema %}