<!-- search-template -->
<section class="search_page">
    <div class="grid-container fluid">
        <h3 class="title">Search</h3>

        {% paginate search.results by 1 %}
            <form action="/search" method="get" role="search">
                <input type="search" name="q" value="{{ search.terms | escape }}">
                <button type="submit">search</button>
            </form>

            <div class="grid-x">
                {% if search.performed %}
                    {% for item in search.results %}
                        {% render "product-item", product: item, classes: "cell medium-4 large-3" %}
                    {% else %}
                        <p class="default-text">No results</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="pagination">
                {% if paginate.pages > 1 %}
                    {{ paginate | default_pagination }}
                {% endif %}
            </div>
        {% endpaginate %}
    </div>
</section>
<!-- search-template // -->